@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body{
    background-color: rgb(227, 241, 253);
    font-family:poppins;
}
.container{
    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
}
.moretext{
    margin-left:40px;
}
.text{
    position:fixed;
    margin-left:55px;
    font-size:25px;
    top: 30%;
}
.max2{
    margin-top:10px;
    margin-left:90px;
}
button{
    cursor: pointer;
    border:none;
    border-radius:7px;
    background-color: rgb(158, 157, 157);
    color:rgb(0, 0, 0);
}

button:hover{
    background-color: rgb(109, 109, 109);
}
