body{
    background-color: rgb(227, 241, 253);
}
.container{

    position: absolute;
    top:40%;
    left:50%;
    transform: translate(-50%,-50%);
}
.moretext{
    margin-left:40px;
}
.text{
    position:fixed;
    margin-left:55px;
    font-size:25px;
    top: 30%;
}
.max2{
    margin-top:10px;
    margin-left:90px;
}